table, td, th {
    border: 1px solid;
  }
  
table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
    padding: 8px 15px;
}  

th {
  text-align: start;
}

.sort{
  display: inline-block;
  
}

.fa-sort-up,
.fa-sort-down{
  width: 8px;
}

.fa-sort-up {
  margin-bottom: -14px;

}

.btn-sort {
  color : #c2c1c1;
}

.btn-sort.active {
  color : black;
}

.bg-active {
  color: #FAFAFA;
}