/* Background */
.bg-gray-light {
    background-color: #F9FBFD;
}

.bg-gray {
    background-color: #F1F4F8;
}

.bg-white {
    background: white;
}

.bg-curves {
    position: absolute;
    bottom: 0px;
    right: -2%;
    left: -200%;
    height: 100%;
    border-bottom-right-radius: 62%;
}

.bg-dark {
    background-color: #1B2A4E;
}

.bg-curves svg {
    width: 136% ;
    color: #F1F4F8;
}

.z-index-99 {
    z-index: 99;
}

.bg-curve-round {
    position: absolute;
    bottom: 45%;
    right: -50%;
    left: -50%;
    height: 120%;
    border-radius: 50%;
}

.overflow-hidden {
    overflow: hidden;
}

.bottom-0 {
    bottom: 0;
}

/* Display */
.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.d-none {
    display: none;
}

.hidden {
    display: none;
}


.flex-col {
    flex-direction: column ;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.position-relative {
    position:  relative !important;
}

.container {
    max-width: 1040px;
    width: 100%;
    display: block;
    padding: 0;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 1.25rem!important;
    padding-right: 1.25rem!important;
}

.btn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: #161c2d;
    cursor: pointer;
    display: inline-block;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.6;
    padding: 0.8125rem 1.25rem;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    transition: box-shadow .25s ease , transform .25s ease;
}

.btn:hover{
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
    border-color: transparent!important;
    transform: translate(0, -10%);
}

.btn-primary {
    background-color: #335eea;
    border-color: #335eea;
    box-shadow: 0 0;
    color: #fff;
}

.btn-primary:hover {
    background-color: #234edb;
}

.btn-hover-light:focus,
.btn-hover-light:hover {
    box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(255, 255, 255, 0.1)!important;
    transform: translate3d(0,-3px,0);
}

@keyframes box-shadow {
    to {
        box-shadow: 0 1rem 2.5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.1)!important;
    }
}

.btn-hover-light {
    transition: box-shadow .25s ease,transform .25s ease;
}

.btn-white {
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 0;
    color: #335eea;
}

.btn-light {
    background-color: #E1E7FC;
    color: var(--text-primary);
}

.btn-success {
    background-color: var(--green);
    color: white;
}

/* Text */

.text-primary {
    color: var(--text-primary);
}

.text-white {
    color: white !important;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-normal {
    color: #506690;
}

.text-14 {
    font-size: 1.4rem;
}

.text {
    font-size: 1.6rem;
    color: #506690;
    line-height: 1.8;
}

.text-muted {
    color: var(--text-subs);
}

.text-success {
    color: var(--green);
}

.text-danger {
    color: red;
}

.text-light {
    color: var(--gray-light);
}

/* Image */
.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Width */

.mw-lg-130 {
    max-width: 130% ;
}

/* Margin */
.mt-1 {
    margin-top: .25rem; /* 4px if font-size is 16px */
}

.mt-2 {
    margin-top: .5rem;  /* 8px if font-size is 16px */
}

.mt-3 {
    margin-top: 1rem; /* 16px if font-size is 16px */
}

.mt-4 {
    margin-top: 1.5rem; /* 24px if font-size is 16px */
}

.mt-5 {
    margin-top: 3rem; /* 48px if font-size is 16px */
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;  
}

.mb-3 {
    margin-bottom: 1rem; 
}

.mb-4 {
    margin-bottom: 1.5rem; 
}

.mb-5 {
    margin-bottom: 3rem; 
}

.ml-1 {
    margin-left: .25rem;
}

.ml-2 {
    margin-left: .5rem;  
}

.ml-3 {
    margin-left: 1rem; 
}

.ml-4 {
    margin-left: 1.5rem; 
}

.ml-5 {
    margin-left: 3rem; 
}
.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: .25rem;
}

.mr-2 {
    margin-right: .5rem;  
}

.mr-3 {
    margin-right: 1rem; 
}

.mr-4 {
    margin-right: 1.5rem; 
}

.mr-5 {
    margin-right: 3rem; 
}


/* Padding */
.p-1 {
    padding: .25rem;
}

.p-2 {
    padding: .5rem;  
}

.p-3 {
    padding: 1rem; 
}

.p-4 {
    padding: 1.5rem; 
}

.p-5 {
    padding: 3rem; 
}

.pd-md-top {
    padding-top: 9.6rem;
}

.pd-md-bottom {
    padding-bottom: 9.6rem;
}

.pt-12 {
    padding-top: 8rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: .25rem;
}

.pt-2 {
    padding-top: .5rem;  
}

.pt-3 {
    padding-top: 1rem; 
}

.pt-4 {
    padding-top: 1.5rem; 
}

.pt-5 {
    padding-top: 3rem; 
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: .25rem;
}

.pb-2 {
    padding-bottom: .5rem;  
}

.pb-3 {
    padding-bottom: 1rem; 
}

.pb-4 {
    padding-bottom: 1.5rem; 
}

.pb-5 {
    padding-bottom: 3rem; 
}

.pl-1 {
    padding-left: .25rem;
}

.pl-2 {
    padding-left: .5rem;  
}

.pl-3 {
    padding-left: 1rem; 
}

.pl-4 {
    padding-left: 1.5rem; 
}

.pl-5 {
    padding-left: 3rem; 
}

.pr-1 {
    padding-right: .25rem;
}

.pr-2 {
    padding-right: .5rem;  
}

.pr-3 {
    padding-right: 1rem; 
}

.pr-4 {
    padding-right: 1.5rem; 
}

.pr-5 {
    padding-right: 3rem; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;
}

/* Kích thước màn hình trung bình */
.col {
    padding-left: 20px;
    padding-right: 20px;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}



/* >= Tablet */
@media (max-width:739px) {
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .col {
        padding-left: 20px;
        padding-right: 20px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -20px;
        margin-right: -20px;
    }

    .col {
        padding-left: 20px;
        padding-right: 20px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-40 {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-2-4 {
        margin-left: 20%;
        padding: 0;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

