:root {
    --text-color : #555;
    --text-primary-color : #222;
    --text-second-color: #f65e39; 
    --text-primary: #335eea;
    --text-subs: #869ab8;
    --green: #42ba96;
    --gray-light: #f1f4f8; 
}

* {
    box-sizing: inherit;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    color: var(--text-primary-color);
}

.main {
    overflow: hidden;
}

.collapse {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav {
    display: flex;
    margin-left: auto;
    list-style-type: none;
}

.nav-item {
    position: relative;
}

.logo-img {
    height:100%;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
}

.bar-btn {
    display: none;
}

.bar-btn .fa-bars{
    width: 24px;
    height: 24px;
    color: var(--text-subs);
    padding: 4px 12px;
}

.bar-btn:hover {
    cursor: pointer;
}

.nav-item-link {
    display: block;
    text-decoration: none;
    color: #506690;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 8px 24px;
    
}

.nav-item-link:hover {
    color: var(--text-primary);
}

.dropdown-menu {
    position: absolute;
    display: none;
    left: 50%;
    transform: translate(-50%,10px);
    z-index: 9999;
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.4rem;
    min-width: 56rem;
}

.dropdown-menu-right {
    position: absolute;
    display: none;
    z-index: 9999;
    box-shadow: 0 1.5rem 4rem rgb(22 28 45 / 15%);
    border-radius: 5px;
    background-color: #fff;
    font-size: 1.4rem;
    left: 100%;
    transform: translate(2px,-28%);
}

.dropdown-menu-right:after {
    display:block;
    content: "";
    position: absolute;
    right: 0;
    left: -60px;
    top: 10%;
    width: 90px;
    height: 35px;
}

.dropdown-menu-xl {
    min-width: 68rem;
}

.dropdown-menu-s {
    min-width: 23rem;
}

.dropdown-menu-m {
    min-width: 35rem;
}

.dropdown-menu::before {
    display:block;
    content: "";
    position: absolute;
    left: 40%;
    top: -20px;
    width: 150px;
    height: 30px;
}

.dropdown-menu-s::before {
    left: 20%;
}

.dropdown-menu-m::before {
    left: 30%;
}

.dropdown-menu .row {
    height: 100%;
}

#landings:hover .dropdown-menu,
#pages:hover .dropdown-menu,
#account:hover > .dropdown-menu,
#document:hover .dropdown-menu{
    animation: headerNotiGrowth ease-in 0.2s;
    display: block;
}

#setting:hover .dropdown-menu-right,
#signin:hover .dropdown-menu-right,
#signup:hover .dropdown-menu-right,
#passreset:hover .dropdown-menu-right,
#error:hover .dropdown-menu-right    {
    display: block;
}

.dropdown-img-left {
    background: url(../img/photo-3.jpg) top center / cover no-repeat;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

.dropdown-img {
    background-color: rgb(51, 94, 234, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: #fff;
}

.dropdown-img h3, 
.dropdown-img p , 
.dropdown-img a {
    margin-bottom: 20px;
}

.dropdown-img h3 {
    font-size: 1.6rem;
}

.dropdown-img p {
    font-size: 1.4rem;
}

.btn-viewall {
    font-size: 1.6rem;
    text-decoration: none;
}

.dropdown-body-right {
    padding: 38px 0;
}

.dropdown-body-right .row .col {
    display: flex; 
    flex-direction: column;
    
}

.dropdown-header,
.dropdown-item {
    margin-bottom: 16px;
}

.dropdown-header {
    text-transform: uppercase;
    color: var(--text-primary);
    font-weight: 500;

}

.dropdown-item {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
}

.dropdown-item:hover {
    color: var(--text-primary);
}

.pages {
    padding: 38px 40px;
}

.account {
    padding:26px 0;
}

.list-group {
    display : flex;
    flex-direction: column;
}

.list-group-item {
    display : flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--text-color);
    padding: 7px 21px;
}

.list-group-item:hover {
    cursor: pointer;
}

.list-group-item:hover {
    color: var(--text-primary);
}


.list-docs {
    display: flex;
    flex-direction: column;
    
}

.list-doc-item:first-child {
    padding-top: 0;
}

.list-doc-item {
    display: flex;
    align-items: center;
    padding: 13px 28px;
    border-bottom: 0.5px solid #f1f4f8;
    text-decoration: none;
}

.list-doc-item:last-child {
    border: none;
    padding-bottom: 0;
}


.list-doc-body {
    margin-left: 20px;
}

.list-doc-body > div {
    padding-bottom: 5px;
}

.list-doc-body .text-primary {
    font-size: 1.3rem;
    font-weight: 500;
}

.version-tag {
    background-color: rgba(51,94,234,.1); 
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 2px 20px;
    margin-left: auto;
}

.btn-buy {
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: auto;
    
}

.btn-buy:hover {
    box-shadow: 0 0 3px #515151;
    border-color: transparent!important;
    transform: translate(0, -10%);
    background-color: #234edb;
}

/* Banner main */
.banner-right {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
}

.banner-title {
    font-size: 4.5rem;
    line-height: 5rem;
    font-weight: 400;
}

.banner-desc {
    font-size: 2.0rem;
    line-height: 3rem;
    color: #869ab8;
}

.banner-btn a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 13px 20px;
}

/* Banner subs */
.banner-item-title {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
}

.banner-item-desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
}

.banner-item-logo svg{
    width: 48px;
    height: 48px;
}

/* Banner branch */
.banner-branch {
    border-top: 1px solid #f1f4f8;
    border-bottom: 1px solid #f1f4f8;
    padding: 48px 0;
}

.branch-item svg{
    width: 100%;
    color: var(--text-subs);
}

/* User's form */
.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05)!important;
    background-color: white;
}

.user-input {
    border: none;
    width: 100%;
    color: #161c2d;
    font-size: 1.6rem;
    line-height: 2;
    border-bottom: 1px solid #f1f4f8;
    padding: 16px 0;
    outline: none;
}

.box-light:hover {
    box-shadow: 0 2rem 5rem rgba(22,28,45,.1),0 .5rem 1rem -.75rem rgba(22,28,45,.05)!important;
    transform: translate3d(0,-5px,0);
}


.input {
    border: none;
    width: 100%;
    color: #161c2d;
    font-size: 1.6rem;
    line-height: 2;
    border-bottom: 1px solid #f1f4f8;
    padding: 14px 0;
    outline: none;

}

.input:focus ,
.input:not(:focus):valid  {
    border-bottom: 1px solid blue;
    background-color: white;
}

.input:focus ~ .floating-label,
.input:not(:focus):valid ~ .floating-label{
  top: 0;
  left: 0;
  font-size: 1.3rem;
  opacity: 1;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 0;
  bottom: 10px;
  transition: 0.2s linear all;
  font-size: 1.4rem;
  font-weight: 400;
  color: #869ab8;
}


.btn-download {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 3.2rem;
}

.checklist-list {
    font-size: 1.6rem;
}

.banner-title-2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.4;
    color: black;
}

.banner-subs-2 {
    font-size: 1.8rem;
    line-height: 1.8;
}

.checklist-item {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
}

.check-icon {
    border-radius: 50%;
    background-color: #f1f4f8;
    height: calc(1em + 0.5rem);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 20px;
}

.check-icon .fa-check {
    color: var(--green);
    font-size: 1.2rem;
}


/* Banner bootstrap */
.shape-img {
    position: absolute;
    bottom: 0;
    left: 64%;
    transform: translateX(-50%) scale(1.3);
    width: 110%;
}

.banner-img-rotate {
    perspective-origin: 0;
    perspective: 1500px;
    transform-style: preserve-3d;
}

.banner-img-rotate img{
    transform: rotateY(-35deg) rotateX(15deg);
    border-radius: 0.625rem;
    box-shadow: 25px 60px 125px -25pxrgba(80,102,144,.1),16px 40px 75px -40pxrgba(0,0,0,.2);
}
/* Slider */
.slider {
    box-shadow: 0 1.5rem 4rem rgba(22,28,45,.05);
    border-radius: 10px;
    position: relative;
}

.border-photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.border-photo > * {
    height: 204%;
    width: auto;
    margin-top: -232px;
    margin-right: -72px;
}

.slider-logo svg{
    width: 150px;
}

.slider-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    height: 100%;
    transition: blur 1s linear;
}

@keyframes blur {
    from { opacity: 1;}
    to { opacity: 0; }
}


.slider-img img {
    height: 100%;
}

.slider-body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.slider-btn {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text-primary);
    height: 56px;
    width: 56px;
    border-radius: 50%;
    text-align: center;
    z-index: 1;
    box-shadow: 0 0 7px -4px #000;
    cursor: pointer;
}

.slider-footer {
    font-size: 1.4rem;
}

.slider-btn-right {
    right: -26px;
}

.slider-btn-left {
    left: -26px;
}

.slider-btn .fa-arrow-right,
.slider-btn .fa-arrow-left{
    padding: 20px;
    font-size: 1.4rem;
    color: white;
}

.text-bigger {
    font-size: 3.2rem;
    font-weight: 400;
    color: black;
    line-height: 3.2rem;
}

.change-day {
    display: flex;
    justify-content: center;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 22px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.box-btn {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.box-btn:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .box-btn {
    background-color: var(--text-primary);
}

input:focus + .box-btn {
    box-shadow: 0 0 1px var(--text-primary);
}

input:checked + .box-btn:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded box-btns */
.box-btn.round {
    border-radius: 34px;
}

.box-btn.round:before {
    border-radius: 50%;
}

/* Card */
.card-xl {
    padding: 48px 0 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.card-xl--less {
    height: 88%;
    margin-top: 38px;
}

.card-xl:first-child {
    z-index: 999;
    margin-right: -40px;
}

.card-xl:last-child {
    
    
}

.span-mac {
    background-color: var(--gray-light);
    color: var(--text-primary);
    padding: 4px 12px;
    text-align: center;
    border-radius: 20px; 
    font-size: 1.2rem;
    letter-spacing: .08em;
}

.price-number {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 300;
    height: 100%;
}

.price-type {
    font-size:3rem;
    margin-top: -6px;
    margin-right: -4px;
}

.price-count {
    font-size: 5.4rem;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
}

.price-part {
    margin-top: 14px;
} 

.per-seat {
    font-size: 1.6rem;
}

.card-footer {
    text-align: center;
    width: 100%;
    padding: 24px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
}

.card-footer:hover {
    
}

.card-footer--primary {
    background-color: var(--text-primary);
    color: white;
}

.card-footer--primary:hover {
    background-color: #234edb;
}

.card-footer--light {
    background-color: #d9e2ef;
    color: var(--gray);
}

.icon-ques {
    background-color: var(--green);
    padding: 0 12px;
    color: #fff;
    font-size:1.1rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 2px;
}

/* Footer */
.footer-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #506690;
    letter-spacing: 0.1rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.list-social-item {
    font-size: 20px;
    text-decoration: none;
}

.footer-text:hover {
    text-decoration: underline;
}

.footer-text {
    font-size: 1.6rem;
    text-decoration: none;
}



/* Animation */
.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}
.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}
.active.fade-left {
    animation: fade-left 1s ease-in;
}
.active.fade-right {
    animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
