

/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* Tablet and mobile*/
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none !important;
    }
    
    .show-on-tablet-mobile {
        display: block !important;
    }

    .pd-md-top {
        padding-top: 8rem;
    }

    /* Navbar menu */
    .collapse {
        position: fixed;
        background-color: white;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 16px;
        flex-direction: column;
        overflow-y:scroll;
        overflow-x:hidden;
        z-index: 9999;
    }

    .navbar-nav {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .nav-item-link{
        padding:0;
    }
    .dropdown-menu {
        box-shadow: none;
    }

    .dropdown-body-right {
        padding: 0;
        margin-top: 3rem;
        border-bottom: 0.5px solid #f1f4f8;
    }

    .dropdown-body-right .account {
        border-bottom: none;
        padding: 16px 8px;
        margin-top: 0;
    }

    .dropdown-menu {
        min-width: 0;
    }

    .dropdown-menu-xl {
        min-width: 0;
    }

    .dropdown-img-left {
        display: none;
    }

    .dropdown-menu {
        position: relative;
        display: block;
    }

    .dropdown-item {
        margin-bottom: 14px;
    }

    .dropdown-menu-right{
        position: static;
        display: none;
        transform: none;
        box-shadow: none;
    }

    #setting:hover .dropdown-menu-right,
    #signin:hover .dropdown-menu-right,
    #signup:hover .dropdown-menu-right,
    #passreset:hover .dropdown-menu-right,
    #error:hover .dropdown-menu-right    {
        display: none;
    }


    .list-group-item {
        padding-left: 0;
        
    }

    .list-doc-item {
        padding-left: 0;
    }

    .btn-buy {
        width: 100%; 
        margin-left: 0;
    }

    .nav-item {
        padding: 24px;
    }

    .close{
        position: absolute;
        top: 40px;
        right: 40px;
        font-size: 30px;
        text-decoration: none;
        color: var(--text-color);
        z-index: 999;
        cursor: pointer;
    }

    .banner-title {
        font-size: 3.2rem;
        line-height: 1.2;
    }

    .banner-desc {
        font-size: 1.8rem;
        line-height: 3rem;
        color: #869ab8;
    }

    .banner-title-2 {
        font-size: 2.5rem;
    }

    .banner-item-title,
    .banner-item-desc {
        font-size: 1.5rem;
    }   

    .banner-subs-2 {
        font-size: 1.6rem;
    }

    .card-xl--less {
        height: auto;
    }

    .mw-md-160 {
        max-width: 160%;
    }

    .text-bigger {
        font-size: 2.8rem;
    }


}

/* Mobile*/
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }

    .container {
        max-width: 540px;
    }

    .banner-right {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 32px;
    }

    .pb-m-0{
        padding-bottom: 0;
    }

    .mw-s-0 {
        max-width: 100%;
    }

    .pd-md-top {
        padding-top: 38px;
    }
    
    .pd-md-bottom {
        padding-bottom: 38px;
    }

    .pt-5 {
        padding-top: 24px;
    }

    .pt-48 {
        padding-top: 48px;
    }

    .reveser {
        flex-direction: column-reverse ;
    }


    .banner-branch {
        padding: 32px 0 ;
    }

    .branch-item {
        margin-bottom: 32px;
    }

    .shape-img {
        left: 50%;
        width: 85%;
    }
    .banner-img-rotate img{
        max-width: 100%;
        margin-top: 32px;
    }
    .banner-title-2 {
        font-size: 2.2rem;
    }
    .slider-btn {
        top: 84%;
    }
    .slider-img {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .slider-body {
        padding: 24px ;
    }
    .slider-logo svg{
        width: 120px;
    }
    .checklist {
        padding: 0;
    }

    .card-xl:first-child {
        margin-right: 0;
    }

    .text-bigger {
        font-size: 2.2rem;
        line-height: 2.4rem;
        text-align: center;
    }

}

@media (min-width: 992px) and (max-width: 1115px){
    .container {
        max-width: 960px;
    }
    .show-on-tablet{
        display: block;
        
    }
    .dropdown-menu-xl {
        min-width: 56rem;
    }
}

@media (min-width: 740px) and (max-width:991px){
    .hide-on-tablet {
        display: none;
    }
    .container {
        max-width: 720px;
    }
    .show-on-tablet{
        display: block;
    }
    .shape-img {
        bottom: 100px
    }
}

@media (max-width: 598px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important;
    }
}

